<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        包名应该为mapper.UserMapper-->
<mapper namespace="com.qf.blog.dao.UserDao">
    <update id="updateUserStatus">
        update t_user set statu=#{status} where id = #{uid} and activate_code = #{code} and statu = 0
    </update>


</mapper>